<div class="container">
  <div class="top-part">
    <div class="lists-wrap">
      <div class="lists-wrap-inner">
        <div *ngFor="let list of lists" class="list">
          <h3>{{list.title}}</h3>
          <ul *ngIf="list.items.length">
            <li *ngFor="let item of list.items"><a href="">{{item}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <app-language-select [language]="language"></app-language-select>
  </div>
  <div class="bottom-part">
    <p>{{language.data.footerText}}</p>
  </div>
</div>
