@import "../../mixins";



:host {
  display: block;
  background: #f5f5f5;
  padding: 48px 0 #{$container-padding / 2};

  @media screen and (max-width: $screen-laptop) {
    padding-bottom: $container-padding-laptop;
  }

  @media screen and (max-width: $screen-tablet) {
    padding-bottom: $container-padding-tablet;
  }

  @media screen and (max-width: $screen-mobile) {
    padding-bottom: $page-top-padding-mobile;
  }
}


.top-part {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.lists-wrap {
  &-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: -16px;
  }
}

.list {
  padding: 16px;

  h3 {
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 10px;
    opacity: .33;
  }

  li {
    font-size: 18px;
    font-weight: 400;

    + li {
      margin-top: 6px;
    }

    a {
      color: inherit;
      transition: color .15s;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.bottom-part {
  margin-top: 36px;
  border-top: 1px dashed rgba(0, 0, 0, .16);
  padding-top: 18px;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    opacity: .66;
  }
}


@media screen and (max-width: $screen-mobile) {
  .lists-wrap {
    &-inner {
      flex-flow: column;
      margin: -16px;
    }
  }

  .list {
    padding: 16px;
  }
}
