<div *ngFor="let card of cards" class="card-wrap"
     (click)="onCardClick(card)"
     [class.active]="selectedCard === card">
  <div class="card" [class.active]="selectedCard === card">
    <div class="card-icon"></div>
    <div class="card-title">{{card.title}}</div>
    <div class="card-description">{{card.description}}</div>
  </div>
</div>
