@import "../../mixins";



:host {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.card-wrap {
  height: 360px;
  width: 260px;

  + .card-wrap {
    margin-left: -130px;
  }

  &:hover {
    .card {
      transform: translateY(-32px);
    }
  }

  &:hover {
    ~ .card-wrap .card {
      transform: translateX(110px);
    }
  }
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .25);
  background: #eee;
  padding: 32px;
  width: 100%;
  height: 100%;
  transition: transform .3s, background .15s;
  text-align: center;
  position: relative;
  user-select: none;
  cursor: pointer;

  .card-wrap:hover & {
    background: #fff;
  }

  &.active {
    background: #fff;

    .card-icon {
      background: $accent-color;
    }
  }
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

.card-description {
  display: -webkit-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  max-height: #{5 * 1.4 * 1em};
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  margin-top: 18px;
  opacity: .66;
}

.card-icon {
  transition: background .15s;
  display: inline-block;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  background: #bdbdbd;
}


@media screen and (max-width: $screen-tablet) {
  .card {
    padding: 24px;
  }

  .card-wrap {
    height: 240px;
    width: 170px;

    + .card-wrap {
      margin-left: -85px;
    }

    &:hover {
      .card {
        transform: translateY(-24px);
      }
    }

    &:hover {
      ~ .card-wrap .card {
        transform: translateX(65px);
      }
    }
  }

  .card-title {
    font-size: 16px;
    margin-top: 8px;
  }

  .card-description {
    margin-top: 8px;
  }

  .card-icon {
    width: 64px;
    height: 64px;
  }
}


@media screen and (max-width: $screen-mobile) {
  :host {
    flex-flow: column;
  }

  .card {
    padding: 16px;
    position: relative;
    padding-left: #{16px + 24px + 16px};
    text-align: left;
  }

  .card-wrap {
    width: 100%;
    height: auto;
    margin: 0;

    + .card-wrap {
      margin-top: 12px;
      margin-left: 0;
    }

    &:hover {
      .card {
        transform: none;
      }
    }

    &:hover {
      ~ .card-wrap .card {
        transform: none;
      }
    }
  }

  .card-title {
    font-size: 16px;
    margin-top: 0;
  }

  .card-description {
    margin-top: 8px;
    max-height: #{2 * 1.4 * 1em};
    -webkit-line-clamp: 2;
  }

  .card-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 16px;
  }
}
