@import "../../mixins";



:host {
  display: block;
}

@keyframes gamesAnimation {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

.games-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: -16px;

  :host(.with-animation) & {
    animation: gamesAnimation .3s;
  }

  :host(:not(.is-visible)) & {
    opacity: 0;
    pointer-events: none;
  }
}

.game-wrap {
  width: 25%;
  padding: 16px;
}

.game {
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .25);
  width: 100%;
  height: 100%;
}

.game-image {
  width: 100%;
  height: 300px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.game-title {
  padding: 18px;
  font-weight: 700;
  font-size: 18px;
}


@media screen and (max-width: $screen-tablet) {
  .games-wrap {
    margin: -12px;
  }

  .game-wrap {
    width: 33.33%;
    padding: 12px;
  }
}


@media screen and (max-width: #{$container-min-width-tablet + ($container-max-width-tablet - $container-min-width-tablet) / 2}) {
  .game-wrap {
    width: 50%;
  }
}


@media screen and (max-width: $screen-mobile) {
  .game-wrap {
    width: 100%;
  }
}
