<div class="games-wrap">
  <div *ngFor="let game of games; trackBy: trackByGame" class="game-wrap">
    <div class="game">
      <div *ngIf="game.image" class="game-image">
        <img [src]="game.image" [alt]="game.title">
      </div>
      <div class="game-title">{{game.title}}</div>
    </div>
  </div>
</div>
