@import "../mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html.is-dark-theme .for-light-theme,
html:not(.is-dark-theme) .for-dark-theme {
  display: none;
}

html, body { height: 100%; }

body {
  background: #fff;
  color: $text-black-color;
  margin: 0;
  font: 400 16px Roboto;
  position: relative;
  padding-right: 0 !important;

  .is-dark-theme & {
    background: #000;
    color: #fff;
  }

  &.scrollbar-is-locked {
    overflow: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
}

a {
  &:focus {
    outline: none;
  }

  &.active {
    cursor: default;
  }
}

li {
  list-style: none;
}

.nobr {
  white-space: nowrap;
}

button {
  font: 700 16px Roboto;
  user-select: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.active {
  cursor: default;
}
