@import "../mixins";

.page-title {
  font: 700 82px Roboto;
  line-height: 100px;
  text-align: left;
  margin: 0 auto 30px;

  @media screen and (max-width: $screen-laptop) {
    font-size: 72px;
    line-height: 80px;
  }

  @media screen and (max-width: $screen-tablet) {
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 24px;
  }

  @media screen and (max-width: $screen-mobile) {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 18px;
  }
}
