@import "../../mixins";


:host {
  display: block;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 0;
}

.material-icons {
  flex: 0 0;
  font-size: 32px;
  margin-right: 8px;
  vertical-align: middle;
}

input {
  border: none;
  flex: 1 0;
  font-size: 24px;
  outline: none;
  padding: 4px 0;
  border-bottom: 2px solid #eee;
  transition: border-color .15s;

  &:focus {
    border-color: $accent-color;
  }
}

@media screen and (max-width: $screen-mobile) {
  .material-icons {
    font-size: 24px;
    margin-right: 8px;
  }

  input {
    font-size: 18px;
  }
}
