<div *ngIf="selectedItem" class="lang-switch" (click)="onSwitchClick()">
  <span class="lang-circle abbr-{{selectedItem.abbr}}"></span>
  <span class="lang-abbr">{{selectedItem.label}}</span>
</div>

<div *ngIf="itemOptions" class="lang-popup">
  <div *ngFor="let item of itemOptions" class="lang-item" (click)="onItemClick(item)">
    <span class="lang-circle abbr-{{item.abbr}}"></span>
    <span class="lang-abbr">{{item.label}}</span>
  </div>
</div>
