@import "../../mixins";



:host {
  color: $text-black-color;
  position: relative;
  user-select: none;
}

.lang-switch {
  border-radius: 30px;
  background: #fff;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding: 6px 7px;
  cursor: pointer;

  &:hover {
    transition: .15s color, .15s background;
    background: $accent-color;
    color: #fff;

    .lang-circle {
      background: #fff;
    }
  }
}

.lang-popup {
  position: absolute;
  top: 34px;
  right: 0;

  background: #fff;
  border-radius: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-flow: column;

  :host(.is-inverted-popup) & {
    top: -4px;
    transform: translateY(-100%);
  }
}

.lang-item {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  cursor: pointer;
  padding: 3px 7px;

  &:first-child {
    padding-top: 8px;
  }

  &:last-child {
    padding-bottom: 8px;
  }

  &:hover {
    .lang-circle {
      background: $accent-color;
    }
  }
}

.lang-abbr {
  font-family: Gorizont, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0 3px 0 7px;
  min-width: 22px;
}

.lang-circle {
  background-color: #bdbdbd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  transition: background .15s;
}

:host(.is-expanded) {
  .lang-switch {
    background: $accent-color;
    color: #fff;

    .lang-circle {
      background: #fff;
    }
  }

  .lang-popup {
    transition: transform .3s, opacity .2s .1s;
  }
}

:host(:not(.is-expanded)) {
  .lang-popup {
    transition: transform .3s, opacity .2s;
    pointer-events: none;
    transform: translateY(-12px);
    opacity: 0;
  }
}

:host(.is-inverted-popup:not(.is-expanded)) {
  .lang-popup {
    transform: translateY(calc(-100% - 12px));
  }
}
