$screen-mobile: 760px;
$screen-tablet: 1260px;
$screen-laptop: 1450px;

$page-top-padding: 92px;
$page-top-padding-mobile: 64px;
$popup-top-padding: 107px;
$popup-top-padding-mobile: 87px;

$container-padding: $page-top-padding;
$container-padding-laptop: 48px;
$container-padding-tablet: 64px;
$container-padding-mobile: 24px;

$container-min-width: $screen-tablet;
$container-max-width: 1920px;
$container-min-width-tablet: $screen-mobile;
$container-max-width-tablet: 1024px;
$container-min-width-mobile: 320px;
$container-max-width-mobile: 560px;

$accent-color: #FF395D;
$text-black-color: #212121;
