<div *ngIf="categories && games && controller" class="page-inner is-loaded">
  <div class="container">
    <h1 class="page-title">{{language.data.pageTitle}}</h1>
    <app-categories-select
      [categories]="categories"
      (categoryChange)="controller.onActiveCategoryChange($event)"
    ></app-categories-select>
    <app-search-input
      [placeholder]="language.data.searchPlaceholder"
      (queryChange)="controller.onSearchQueryChange($event)"
    ></app-search-input>
    <app-games-grid
      [games]="controller.displayedGames"
    ></app-games-grid>
  </div>

  <app-footer
    [language]="language"
  ></app-footer>
</div>
