@import "../../mixins";



@include pagePadding;
@include slideAfterLoad;


app-footer {
  margin-top: 64px;
}

app-search-input {
  margin: 32px 0;

  @media screen and (max-width: $screen-mobile) {
    margin: 16px 0;
  }
}
