@import "mixins/variables";



@keyframes slidePageInnerAfterLoad {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

@mixin slideAfterLoad() {
  .page-inner:not(.is-loaded) {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-60px);
  }

  .page-inner.is-loaded {
    animation: slidePageInnerAfterLoad .5s;
  }
}

@mixin pagePadding() {
  .page-inner {
    padding-top: $page-top-padding;

    @media screen and (max-width: $screen-laptop) {
      padding-top: $page-top-padding;
    }

    @media screen and (max-width: $screen-tablet) {
      padding-top: $page-top-padding;
    }

    @media screen and (max-width: $screen-mobile) {
      padding-top: $page-top-padding-mobile;
    }
  }
}
